@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

/* Global css */

body {
  background-color: #fef2f2;
}

.transition {
  transition: border 500ms ease;
}

.transition:focus {
  border-color: #f5735a;
}
